/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/** Header Styling **/
.header {
  padding: 40px 0;
  text-align: center;
}


.header-div {
  position: relative;
  padding: 0;
  width: min-content;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%, 
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  border-radius: 2rem;
  
}

.header-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(15px); /* Adjust the blur amount as needed */
  z-index: -1;
}

.header-div > h1 {
  background-color: #100720;
  padding: 20px;
  color: #fff; /* Set the text color to contrast with the background */
  border-radius: 2rem;
}


.stock-input {
  margin: 20px;
  padding: 10px;
  width: 200px;
  font-size: 16px;
  border: none;
  outline: none;
  transition: 0.1s;

}

/* .stock-input:focus {

} */

.stock-btn {
  margin: 20px;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
  outline: none;
}

.stock-btn::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%, 
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.stock-btn:active,
.stock-btn:focus,
.stock-btn:hover {
  transform: scale(0.9);
  background: radial-gradient(
    circle farthest-corner at 10% 20%, 
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  transition: 0.2s;
}



.stock-div {
  padding: 0 !important;
}

.stock-ft {
  margin: 20px;
  width: 145px;
  height: 56px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

.stock-ft::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      circle
      farthest-corner at 10% 20%, 
      rgba(255, 94, 247, 1) 17.8%,
      rgba(2, 245, 255, 1) 100.2% );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.stock-ft:active,
.stock-ft:focus,
.stock-ft:hover {
  transform: scale(0.9);
  background: radial-gradient(
      circle
      farthest-corner at 10% 20%, 
      rgba(255, 94, 247, 1) 17.8%,
      rgba(2, 245, 255, 1) 100.2% );
  transition: 0.2s;
}

.stock-ft:active,
.stock-ft:focus {
  transform: scale(1);
}


.graph-col {
  display: flex;
  align-items: center;
  background-color: #ffffff13;
}


.graph {
  max-width: 720px; /* Set width to 100% by default */
  height: 100%; /* Set height to 440 pixels by default */
}

.graph-div {
background-color: white;
width: 720px;
height: 400px;
}

@media (min-width: 820px) {

  .graph-div {
    height: 100%;
    width: 100%;
  }

  .graph {
    width: 420px; /* Set a maximum width for larger screens */
    margin: auto; /* Center the chart on the screen */
  }
}


/* background-color: rgb(128, 0, 128);
margin: 10px;
padding: 30px;
border: none;
outline: none;
font: inherit;
color: inherit; */